
<footer class="page-footer font-small blue pt-4">
<!-- Footer Links -->
   

<div class="d-flex flex-row justify-content-between" >
	<div class="d-flex flex-row align-items-center"><a href="https://www.facebook.com/NinaLunaRicci/" title="Facebook" class="btn btn-facebook btn-lg"><img src="/static/facebook.png"><br>Facebook</a></div>
	<div class="d-flex flex-row align-items-center"><a href="https://twitter.com/clairedoriath" title="Twitter" class="btn btn-facebook btn-lg"><img src="/static/twitter.png"><br>Twitter</a></div>
	<div class="d-flex flex-row align-items-center"><a href="https://www.instagram.com/nina_luna_ricci/?hl=fr" title="Instagram" class="btn btn-facebook btn-lg"><img src="/static/instagram.png"><br>Instagram</a></div>
</div>


&nbsp;
<div class="footer-copyright text-center py-3">© 2021 Copyright:
 <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Les Tortues 67<i class="icon-large icon-facebook"></i><font size="1" ></a>
 </div>
    <!-- Copyright -->

</footer>