


<div class="container-fluid align-self-center"><center><img src="   {{url_for("static", filename="tortue.png")}}  " align="center" style= "background-color:white;"></center></div>
	<!--<div class="align-self-center"><h4>Utiliser Flask et Bootstrap </h4>  </div>-->
	<!--<div class="align-self-center"><img src="   {{url_for("static", filename="BootstrapLogo195x195.jpg")}}  " align="center"> </div>-->
  <!-- <div class="p-2 bd-highlight">Flex item 1</div>
  <div class="p-2 bd-highlight">Flex item 2</div>
  <div class="p-2 bd-highlight">Flex item 3</div> -->








  
